/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oswald:wght@300&family=Roboto&display=swap');

/* Asterisc wildcard to override defult styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: seagreen;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.main {
    min-height: 100vh;
    background-color: blueviolet;
}

/*Home section*/
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.home-content h1 {
    font-size: 58px;
    text-shadow: 0 0 10px rgba(0 0 0 .2);
}

/* "pressed" effect on click customized from https://www.w3schools.com/css/css3_buttons.asp */
.start-btn {
    width: 190px;
    height: 55px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.start-btn:hover {background-color: #3e8e41}
  
.start-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.rules-btn {
    width: 190px;
    height: 55px;
    display: inline-block;
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #72d1f7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.rules-btn:hover {background-color: #3e7b8e}
  
.rules-btn:active {
    background-color: #3e8b8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


