/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oswald:wght@300&family=Roboto&display=swap');

/* Asterisc wildcard to override defult styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: seagreen;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.main {
    min-height: 100vh;
    background-color: blueviolet;
}

.home 