/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oswald:wght@300&family=Roboto&display=swap');

/* Asterisc wildcard to override defult styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #212529;
    text-decoration: none;
    font-weight: 700;
}

.main {
    min-height: 100vh;
    background-color: #e5dbff;
    transition: .3s ease;
    pointer-events: auto;
}

.main.active {
    filter: blur(12px);
    pointer-events: none;
}

/*Home section*/
.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

/*Style Welcome message section*/
.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
}

.home-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.home-content h1 {
    text-align: center;
    font-size: 58px;
    text-shadow: 0 0 10px rgba(0 0 0 .2);
}

/* "pressed" effect on click customized from https://www.w3schools.com/css/css3_buttons.asp */
.start-btn {
    width: 190px;
    height: 55px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.start-btn:hover {
    background-color: #3e8e41
}

.start-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.rules-btn {
    width: 190px;
    height: 55px;
    display: inline-block;
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #72d1f7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.rules-btn:hover {
    background-color: #3e7b8e
}

.rules-btn:active {
    background-color: #3e8b8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Style rules section*/
.rules-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: snow;
    border-radius: 8px;
    padding: 10px 25px;
    color: #666;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.rules-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.rules-info h2 {
    font-size: 50px;
}

.rules-info p {
    font-size: 18px;
    margin: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-info .info {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
}

/*Style of Buttons in Rules Info*/
.rules-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.rules-info .btn-group .info-btn-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    width: 130px;
    height: 45px;
    cursor: pointer;
    text-decoration: none;
    background-color: #06da8c;
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 8px;
}

.rules-info .btn-group .info-btn-continue:hover {
    background-color: #04AA6D;
    color: white;
}

.rules-info .btn-group .info-btn-exit {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    width: 130px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(177, 175, 175);
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 8px;
}

.rules-info .btn-group .info-btn-exit:hover {
    background-color: gainsboro;
    /* Green */
    color: white;
}

/*Style Quiz section*/
.quiz-section {
    position: relative;
    left: -50%;
    /*left: 0;*/
    width: 100%;
    background: #e7f5ff;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-out;
    transition-delay: .20s;
    z-index: 100;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    max-width: 500px;
    background: transparent;
    border: 2px solid #19523d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    /*Box shadow is Customized from https://html-css-js.com/css/generator/box-shadow/*/
    -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.93);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.93);
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #19523d;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.options-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.options-list .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: .4s ease-out;
}

.options-list .option.correct {
    color: #fff;
}



.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 2px solid #19523d;
    margin-top: ;
}

.quiz-footer .question-amount {
    font-size: 16px;
    font-weight: 600;
}

/*"An arrow on hover" effect is Custumized from https://www.w3schools.com/css/css3_buttons.asp*/
.quiz-footer .next-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #6f6799;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    width: 100px;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.quiz-footer .next-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.quiz-footer .next-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.quiz-footer .next-btn:hover span {
    padding-right: 25px;
}

.quiz-footer .next-btn:hover span:after {
    opacity: 1;
}